{
  "openapi": "3.0.0",
  "info": {
    "title": "Proxy API",
    "version": "2.45.2"
  },
  "servers": [
    {
      "url": "https://vbb.demo.hafas.de/restproxy/"
    }
  ],
  "tags": [
    {
      "name": "/arrivalBoard"
    },
    {
      "name": "/departureBoard"
    },
    {
      "name": "/gisroute"
    },
    {
      "name": "/himsearch"
    },
    {
      "name": "/journeyDetail"
    },
    {
      "name": "/journeypos"
    },
    {
      "name": "/location.name"
    },
    {
      "name": "/location.nearbystops"
    },
    {
      "name": "/recon"
    },
    {
      "name": "/trip"
    },
    {
      "name": "/swagger-ui"
    },
    {
      "name": "/xsd"
    }
  ],
  "paths": {
    "/arrivalBoard": {
      "get": {
        "tags": ["/arrivalBoard"],
        "summary": "Arrival Board",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Specifies the station/stop ID for which the arrivals shall be retrieved. Required if extId is not present. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extId",
            "in": "query",
            "description": "Deprecated. Please use `id` as it supports external IDs.\n\nSpecifies the external station/stop ID for which the arrivals shall be retrieved. Required if id is not present. String not longer than 512.\n\nSince version: 1.21",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "If only vehicles departing or arriving from a certain direction shall be returned, specify the direction by giving the station/stop ID of the last stop on the journey. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Sets the start date for which the departures shall be retrieved. Represented in the format YYYY-MM-DD.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Sets the start time for which the departures shall be retrieved. Represented in the format hh:mm[:ss] in 24h nomenclature. Seconds will be ignored for requests.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Set the interval size in minutes. Range: 0-1439\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "60"
            }
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Maximum number of journeys to be returned. If no value is defined or -1, all departing/arriving services within the duration sized period are returned. Minimum of -1.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "-1"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operators",
            "in": "query",
            "description": "Only journeys provided by the given operators are part of the result. To filter multiple operators, separate the codes by comma.\nIf the operator should not be part of the journeys, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Only journeys provided by the given categories are part of the result. To filter multiple categories, separate the codes by comma.\nIf the category should not be part of the journeys, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 2.25",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lines",
            "in": "query",
            "description": "Only journeys running the given line are part of the result. To filter multiple lines, separate the codes by comma. If the line should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Filter boards by one or more attribute codes of a journey. Multiple attribute codes are separated by comma. If the attribute should not be part of the result, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Filter boards by platform. Multiple platforms are separated by comma. String not longer than 1024.\n\nSince version: 2.7.2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passlist",
            "in": "query",
            "description": "Include a list of all passed waystops?\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "passlistMaxStops",
            "in": "query",
            "description": "Maximum number of stops including requested stop and last stop. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minDur",
            "in": "query",
            "description": "Minimum duration a journey has left to be returned. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "baim",
            "in": "query",
            "description": "Enables/disables BAIM information.\n\nSince version: 2.26",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "rtMode",
            "in": "query",
            "description": "Set the realtime mode to be used.\n\nSince version: 2.34",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["OFF", "SERVER_DEFAULT"],
              "default": "SERVER_DEFAULT"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Set the station arrival board type to be used.\n\nARR: Arrival board as configured in HAFAS\nARR_EQUIVS: Arrival board with all journeys at any masts and equivalent stops\nARR_MAST: Arrival board at mast\nARR_STATION: Arrival board with all journeys at any masts of the requested station\n\nSince version: 2.12",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ARR", "ARR_EQUIVS", "ARR_MAST", "ARR_STATION"],
              "default": "ARR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrivalBoard"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrivalBoard"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/departureBoard": {
      "get": {
        "tags": ["/departureBoard"],
        "summary": "Departure Board",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Specifies the station/stop ID for which the departures shall be retrieved. Required if extId is not present. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extId",
            "in": "query",
            "description": "Deprecated. Please use `id` as it supports external IDs.\n\nSpecifies the external station/stop ID for which the departures shall be retrieved. Required if id is not present. String not longer than 512.\n\nSince version: 1.21",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "If only vehicles departing or arriving from a certain direction shall be returned, specify the direction by giving the station/stop ID of the last stop on the journey. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Sets the start date for which the departures shall be retrieved. Represented in the format YYYY-MM-DD.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Sets the start time for which the departures shall be retrieved. Represented in the format hh:mm[:ss] in 24h nomenclature. Seconds will be ignored for requests.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Set the interval size in minutes. Range: 0-1439\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "60"
            }
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Maximum number of journeys to be returned. If no value is defined or -1, all departing/arriving services within the duration sized period are returned. Minimum of -1.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "-1"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operators",
            "in": "query",
            "description": "Only journeys provided by the given operators are part of the result. To filter multiple operators, separate the codes by comma.\nIf the operator should not be part of the journeys, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Only journeys provided by the given categories are part of the result. To filter multiple categories, separate the codes by comma.\nIf the category should not be part of the journeys, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 2.25",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lines",
            "in": "query",
            "description": "Only journeys running the given line are part of the result. To filter multiple lines, separate the codes by comma. If the line should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Filter boards by one or more attribute codes of a journey. Multiple attribute codes are separated by comma. If the attribute should not be part of the result, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Filter boards by platform. Multiple platforms are separated by comma. String not longer than 1024.\n\nSince version: 2.7.2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passlist",
            "in": "query",
            "description": "Include a list of all passed waystops?\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "passlistMaxStops",
            "in": "query",
            "description": "Maximum number of stops including requested stop and last stop. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minDur",
            "in": "query",
            "description": "Minimum duration a journey has left to be returned. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "baim",
            "in": "query",
            "description": "Enables/disables BAIM information.\n\nSince version: 2.26",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "rtMode",
            "in": "query",
            "description": "Set the realtime mode to be used.\n\nSince version: 2.34",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["OFF", "SERVER_DEFAULT"],
              "default": "SERVER_DEFAULT"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Set the station departure board type to be used.\n\nDEP: Departure board as configured in HAFAS\nDEP_EQUIVS: Departure board with all journeys at any masts and equivalent stops\nDEP_MAST: Departure board at mast\nDEP_STATION: Departure board with all journeys at any masts of the requested station\n\nSince version: 2.12",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["DEP", "DEP_EQUIVS", "DEP_MAST", "DEP_STATION"],
              "default": "DEP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DepartureBoard"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartureBoard"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/gisroute": {
      "get": {
        "tags": ["/gisroute"],
        "summary": "GIS Route by Context",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "ctx",
            "in": "query",
            "description": "Specifies the GIS route context. String not longer than 8096.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poly",
            "in": "query",
            "description": "Enables/disables the calculation of the polyline.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "polyEnc",
            "in": "query",
            "description": "Defines encoding of the returned polyline. Possible values are N (no encoding / compression), DLT (delta to the previous coordinate), GPA (Google encoded polyline format) defaults to N. Not all option might be available in your installation.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["DLT", "GPA", "N"],
              "default": "N"
            }
          },
          {
            "name": "eco",
            "in": "query",
            "description": "Enables/disables eco value calculation.\n\nSince version: 1.23.9",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "baim",
            "in": "query",
            "description": "Enables/disables BAIM.\n\nSince version: 2.39",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TripList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripList"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/himsearch": {
      "get": {
        "tags": ["/himsearch"],
        "summary": "HIM Search",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "dateB",
            "in": "query",
            "description": "Sets the event period start date.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateE",
            "in": "query",
            "description": "Sets the event period end date.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeB",
            "in": "query",
            "description": "Sets the event period start time.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeE",
            "in": "query",
            "description": "Sets the event period end time.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weekdays",
            "in": "query",
            "description": "Bitmask for validity of HIM messages based on weekdays. Each character represents a weekday starting on monday.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "himIds",
            "in": "query",
            "description": "List of HIM message IDs seperated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hierarchicalView",
            "in": "query",
            "description": "Return parent messages with childs.\n\nSince version: 2.8.1",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "operators",
            "in": "query",
            "description": "List of operators seperated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "List of train categories seperated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channels",
            "in": "query",
            "description": "List of channels seperated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companies",
            "in": "query",
            "description": "List of companies seperated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lines",
            "in": "query",
            "description": "Only HIM messages for the given line are part of the result. To filter multiple lines, separate the codes by comma. String not longer than 1024.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineids",
            "in": "query",
            "description": "Only HIM messages for the given line (identified by its line ID) are part of the result. To filter multiple lines, separate the line IDs by comma. String not longer than 1024.\n\nSince version: 2.11",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stations",
            "in": "query",
            "description": "List of (external) station ids to be filtered for seperated by comma. String not longer than 1024.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromstation",
            "in": "query",
            "description": "Filter messages by line segment starting at this station given as (external) station id. String not longer than 512.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tostation",
            "in": "query",
            "description": "Filter messages by line segment travelling in direction of this station given as (external) station id. String not longer than 512.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bothways",
            "in": "query",
            "description": "If enabled, messages in both directions - from 'fromstation' to 'tostation' as well as from 'tostation' to 'fromstation' are returned\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "trainnames",
            "in": "query",
            "description": "List of train name to be filtered for seperated by comma. String not longer than 1024.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metas",
            "in": "query",
            "description": "List of predefined filters seperated by comma. String not longer than 512.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "himcategory",
            "in": "query",
            "description": "HIM category, e.g. Works and/or Disturbance. Value depends on your HAFAS server data. String not longer than 512.\n\nSince version: 1.23.9",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "himtags",
            "in": "query",
            "description": "HIM Tags. Value depends on your HAFAS server data. String not longer than 1024.\n\nSince version: 2.10",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Filter for HIM messages based on regions defined in HAFAS raw data. Seperated by comma. Available regions can be retrieved by /datainfo service. String not longer than 1024.\n\nSince version: 2.16",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "himtext",
            "in": "query",
            "description": "Filter for HIM messages containing the given free text message seperated by comma. String not longer than 1024.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "himtexttags",
            "in": "query",
            "description": "Return HIM texts having this text tag(s) only. Multiple values are separated by comma. Note: HIM text tags differ from HIM tags. String not longer than 1024.\n\nSince version: 2.16",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exthimtext",
            "in": "query",
            "description": "Extended filter based on tags and and corresponding localized text fragments. String not longer than 1024.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additionalfields",
            "in": "query",
            "description": "List of additional fields and values to be filtered for. String not longer than 1024.\n\nSince version: 2.22",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extInfo",
            "in": "query",
            "description": "Filter for HIM messages based on external ids and id sources. Different items are seperated by comma. Value seperated by pipe symbol. To negate put ! in front of the item. String not longer than 8096.\n\nSince version: 2.38",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poly",
            "in": "query",
            "description": "Enables/disables returning of geo information for affected edges and regions if available and enabled in the backend.\n\nSince version: 1.23.12",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "searchmode",
            "in": "query",
            "description": "HIM search mode.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["MATCH", "NOMATCH", "TFMATCH"]
            }
          },
          {
            "name": "affectedJourneyMode",
            "in": "query",
            "description": "Define how to return affected journeys\n\nSince version: 2.5",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ALL", "OFF"]
            }
          },
          {
            "name": "affectedJourneyStopMode",
            "in": "query",
            "description": "Define how to return stops of affected journeys\n\nSince version: 2.5",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ALL", "IMP", "OFF"]
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Define the Order the returned messages by fields and directions. Multiple, comma separated entries are supported Range: EVT_BEG_ASC,EVT_BEG_DESC,EVT_END_ASC,EVT_END_DESC,HID_ASC,HID_DESC,LMOD_ASC,LMOD_DESC,PRIO_ASC,PRIO_DESC\n\nSince version: 2.4.1",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minprio",
            "in": "query",
            "description": "Filter for HIM messages having at least this priority. Minimum of 0.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxprio",
            "in": "query",
            "description": "Filter for HIM messages having this priority as maximum. Minimum of 0.\n\nSince version: 2.4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "llLat",
            "in": "query",
            "description": "Lower left latitude of bounding box.\n\nSince version: 2.24.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "llLon",
            "in": "query",
            "description": "Lower left longitude of bounding box.\n\nSince version: 2.24.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "urLat",
            "in": "query",
            "description": "Upper right latitude of bounding box.\n\nSince version: 2.24.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "urLon",
            "in": "query",
            "description": "Upper right longitude of bounding box.\n\nSince version: 2.24.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HimMessages"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HimMessages"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/journeyDetail": {
      "get": {
        "tags": ["/journeyDetail"],
        "summary": "Journey detail",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Specifies the internal journey id of the journey shall be retrieved. Maximum length 512. String not longer than 512.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Day of operation\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poly",
            "in": "query",
            "description": "Enables/disables the calculation of the polyline for each leg of the trip except any GIS route.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "polyEnc",
            "in": "query",
            "description": "Defines encoding of the returned polyline. Possible values are N (no encoding / compression), DLT (delta to the previous coordinate), GPA (Google encoded polyline format) defaults to N. Not all option might be available in your installation.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["DLT", "GPA", "N"],
              "default": "N"
            }
          },
          {
            "name": "showPassingPoints",
            "in": "query",
            "description": "Enables/disables the return of stops having no alighting and no boarding in its passlist for each leg of the trip.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "rtMode",
            "in": "query",
            "description": "Set the realtime mode to be used.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["FULL", "INFOS", "OFF", "REALTIME", "SERVER_DEFAULT"]
            }
          },
          {
            "name": "fromId",
            "in": "query",
            "description": "Specifies the station/stop ID the partial itinerary shall start from. String not longer than 512.\n\nSince version: 2.3",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromIdx",
            "in": "query",
            "description": "Specifies the station/stop index the partial itinerary shall start from. Minimum of 0.\n\nSince version: 2.3",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "toId",
            "in": "query",
            "description": "Specifies the station/stop ID the partial itinerary shall end at. String not longer than 512.\n\nSince version: 2.3",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toIdx",
            "in": "query",
            "description": "Specifies the station/stop index the partial itinerary shall end at. Minimum of 0.\n\nSince version: 2.3",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "baim",
            "in": "query",
            "description": "Enables/disables BAIM search and response.\n\nSince version: 2.7.3",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/journeypos": {
      "get": {
        "tags": ["/journeypos"],
        "summary": "Journey Position",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "llLat",
            "in": "query",
            "description": "Lower left latitude of bounding box.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "llLon",
            "in": "query",
            "description": "Lower left longitude of bounding box.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "urLat",
            "in": "query",
            "description": "Upper right latitude of bounding box.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "urLon",
            "in": "query",
            "description": "Upper right longitude of bounding box.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "operators",
            "in": "query",
            "description": "Filter for operators. To filter multiple operators, separate the codes by comma. String not longer than 8096.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Filter trips by one or more attribute codes of a journey. Multiple attribute codes are separated by comma. If the attribute should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jid",
            "in": "query",
            "description": "Filter journeys by one or more journey id. Multiple journey ids are separated by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lines",
            "in": "query",
            "description": "Only journeys running the given line are part of the result. To filter multiple lines, separate the codes by comma. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "infotexts",
            "in": "query",
            "description": "Filter journeys by one or more custom infotext filters. Multiple infotexts are separated by comma. If the infotext should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxJny",
            "in": "query",
            "description": "Maximum number of journeys in response. Minimum of 0. Range: 1-1000\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1000"
            }
          },
          {
            "name": "periodSize",
            "in": "query",
            "description": "Size of interval journey positions should be retrieved in milliseonds. Minimum of 0.\n\nSince version: 2.24",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "30000"
            }
          },
          {
            "name": "periodStep",
            "in": "query",
            "description": "Size of interval steps. Minimum of 0.\n\nSince version: 2.24",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "2000"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Day of operation.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Time the service operates according to scheduled data. If not provided, the whole day is taken into account.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "positionMode",
            "in": "query",
            "description": "Mode the used for position calculation. REPORT_ONLY: Only get back reported positions; CALC_REPORT: Use reported position if available, calculate if not; CALC: Calculate all positions; Default REPORT_ONLY\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["CALC", "CALC_REPORT", "REPORT_ONLY"],
              "default": "REPORT_ONLY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyList"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/location.name": {
      "get": {
        "tags": ["/location.name"],
        "summary": "Location Search by Name",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "input",
            "in": "query",
            "description": "Search for that token. String not longer than 512.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxNo",
            "in": "query",
            "description": "Maximum number of returned stops. Range: 1-1000\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type filter for location types.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["A", "ALL", "AP", "P", "S", "SA", "SP"],
              "default": "ALL"
            }
          },
          {
            "name": "locationSelectionMode",
            "in": "query",
            "description": "Selection mode for locations.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SLCT_A", "SLCT_N"]
            }
          },
          {
            "name": "withEquivalentLocations",
            "in": "query",
            "description": "Return equivalent locations.\n\nSince version: 2.33",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "restrictSelection",
            "in": "query",
            "description": "Restrict allowed stations.\n\nSince version: 2.31",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["D", "I", "S", "V"],
              "default": "S"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.15",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "withProducts",
            "in": "query",
            "description": "Return locations with products.\n\nSince version: 2.28",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "1"
            }
          },
          {
            "name": "productRepresentatives",
            "in": "query",
            "description": "If activated, only one representative of a location product per category is returned.\n\nSince version: 2.28",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "coordLat",
            "in": "query",
            "description": "Latitude of centre coordinate.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "coordLong",
            "in": "query",
            "description": "Longitude of centre coordinate.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Search radius in meter around the given coordinate if any. Minimum of 1.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1000"
            }
          },
          {
            "name": "refineId",
            "in": "query",
            "description": "In case of an refinable location, this value takes the ID of the refinable one of a previous result. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Filter by a predefined meta filter. If the rules of the predefined filter should not be negated, put ! in front of it. Multiple values are separated by comma if definded for POI filtering. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stations",
            "in": "query",
            "description": "Filter for stations. Matches if the given value is prefix of any station ID. Multiple values are separated by comma. String not longer than 4096.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sattributes",
            "in": "query",
            "description": "Filter locations by one or more attribute codes. Multiple attribute codes are separated by comma. If the attribute should not be part of the be location data, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinfotexts",
            "in": "query",
            "description": "Filter locations by one or more station infotext codes and values. Parameter structure is code|value. Multiple attribute codes are separated by comma. String not longer than 1024.\n\nSince version: 2.24",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterMode",
            "in": "query",
            "description": "Filter modes for nearby searches.\n\nSince version: 2.7",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["DIST_PERI", "EXCL_PERI", "SLCT_PERI"],
              "default": "DIST_PERI"
            }
          },
          {
            "name": "poolId",
            "in": "query",
            "description": "Filter locations by pool id (also known as Pool UIC code). Multiple values are separated by comma. To negate put ! in front of the value. String not longer than 8096.\n\nSince version: 2.26",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/location.nearbystops": {
      "get": {
        "tags": ["/location.nearbystops"],
        "summary": "Location Search by Coordinate",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "originCoordLat",
            "in": "query",
            "description": "Latitude of centre coordinate.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "originCoordLong",
            "in": "query",
            "description": "Longitude of centre coordinate.\n\nSince version: 1.0",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Search radius in meter around the given coordinate. Minimum of 1.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1000"
            }
          },
          {
            "name": "maxNo",
            "in": "query",
            "description": "Maximum number of returned stops. Minimum of 0. Range: 1-1000\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type filter for location types.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["S", "P", "SP", "SE", "PE", "SPE"],
              "default": "S"
            }
          },
          {
            "name": "locationSelectionMode",
            "in": "query",
            "description": "Selection mode for locations.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SLCT_A", "SLCT_N"]
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.15",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Filter by a predefined meta filter. If the rules of the predefined filter should not be negated, put ! in front of it. Multiple values are separated by comma if definded for POI filtering. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sattributes",
            "in": "query",
            "description": "Filter locations by one or more attribute codes. Multiple attribute codes are separated by comma. If the attribute should not be part of the be location data, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sinfotexts",
            "in": "query",
            "description": "Filter locations by one or more station infotext codes and values. Multiple attribute codes are separated by comma the value by pipe |. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poolId",
            "in": "query",
            "description": "Filter locations by pool id (also known as Pool UIC code). Multiple values are separated by comma. To negate put ! in front of the value. String not longer than 8096.\n\nSince version: 2.26",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Incorporate date. Represented in the format YYYY-MM-DD.\n\nSince version: 2.39",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Incorporate time. Represented in the format hh:mm[:ss] in 24h nomenclature. Seconds will be ignored for requests.\n\nSince version: 2.39",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "Retrieve stops most relevant to this map zoom level. Range: 0-21\n\nSince version: 2.39",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "poiCategories",
            "in": "query",
            "description": "Filter locations by POI types. Multiple attribute codes are separated by comma. If the attribute should not be part of the be location data, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 2.42",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/recon": {
      "get": {
        "tags": ["/recon"],
        "summary": "Reconstruction",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "ctx",
            "in": "query",
            "description": "Specifies the reconstruction context. String not longer than 32768.\n\nSince version: 1.12",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poly",
            "in": "query",
            "description": "Enables/disables the calculation of the polyline for each leg of the trip except any GIS route.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "polyEnc",
            "in": "query",
            "description": "Defines encoding of the returned polyline. Possible values are N (no encoding / compression), DLT (delta to the previous coordinate), GPA (Google encoded polyline format) defaults to N. Not all option might be available in your installation.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["DLT", "GPA", "N"],
              "default": "N"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Sets the start date for which the departures shall be retrieved. Represented in the format YYYY-MM-DD.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useCombinedComparison",
            "in": "query",
            "description": "Compare based on combined output name - false: Compare parameters (category, line, train number) individually",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "acceptGaps",
            "in": "query",
            "description": "Accept an incomplete description of the connection (with gaps) i.e. missing walks/transfers\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "allowDummySections",
            "in": "query",
            "description": "Allow a partial reconstruction that will not lead to a reconstruction failure if sections are not reconstructable. Instead, for theses inconstructable sections, dummy sections will be created in the result.\n\nSince version: 2.11.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "flagAllNonReachable",
            "in": "query",
            "description": "Should all non-reachable journeys be flagged (true), or only the first one encountered?\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "matchCatStrict",
            "in": "query",
            "description": "Should the category (Gattung) match exactly? Only applicable if useCombinedComparison is false\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "matchIdNonBlank",
            "in": "query",
            "description": "Should the train identifier (Zugbezeichner) without whitespace match?\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "matchIdStrict",
            "in": "query",
            "description": "Should the train identifier (Zugbezeichner) match exactly?\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "matchNumStrict",
            "in": "query",
            "description": "Should the train number (Zugnummer) match exactly? Only applicable if useCombinedComparison is false\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "matchRtType",
            "in": "query",
            "description": "Should the realtime type that journeys are based on (e.g. SOLL, IST, additional, deviation, ...) be considered?\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "enableRtFullSearch",
            "in": "query",
            "description": "By default, the reconstruction request makes one attempt for each journey within the scheduled data. However, the scheduled data may not necessarily reflect basic realtime properties of the journeys therein. In such a case, one may enable a two-step approach which we call \"full search\", i.e. search for matching journeys in the scheduled data in a first step. If this fails, then search for matching journeys in the realtime data.\n\nSince version: 2.15",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "enableReplacements",
            "in": "query",
            "description": "If set to true replaces cancelled journeys with their replacement journeys if possible.\n\nSince version: 2.21.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "arrL",
            "in": "query",
            "description": "Lower deviation in minutes within interval [0, 720] indicating \"how much earlier than original arrival\" Range: 0-720\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "arrU",
            "in": "query",
            "description": "Upper deviation in minutes within interval [0, 720] indicating \"how much later than original arrival\" Range: 0-720\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "depL",
            "in": "query",
            "description": "Lower deviation in minutes within interval [0, 720] indicating \"how much earlier than original departure\" Range: 0-720\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "depU",
            "in": "query",
            "description": "Upper deviation in minutes within interval [0, 720] indicating \"how much later than original departure\" Range: 0-720\n\nSince version: 2.6.2",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "passlist",
            "in": "query",
            "description": "Enables/disables the return of the passlist for each leg of the trip.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "showPassingPoints",
            "in": "query",
            "description": "Enables/disables the return of stops having no alighting and boarding in its passlist for each leg of the trip. Needs passlist parameter enabled.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "rtMode",
            "in": "query",
            "description": "Set the realtime mode to be used.\n\nSince version: 2.10.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["FULL", "INFOS", "OFF", "REALTIME", "SERVER_DEFAULT"]
            }
          },
          {
            "name": "baim",
            "in": "query",
            "description": "Enables/disables BAIM.\n\nSince version: 2.39",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "eco",
            "in": "query",
            "description": "Only supported if legacy environmental calculator is used.\n\nDeprecated. Enables/disables eco value calculation.\n\nSince version: 1.23.9",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "ecoCmp",
            "in": "query",
            "description": "Only supported if legacy environmental calculator is used.\n\nDeprecated. Enables/disables eco comparison.\n\nSince version: 1.23.9",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "ecoParams",
            "in": "query",
            "description": "Provide additional eco parameters. Values vary. String not longer than 1024.\n\nSince version: 1.23.9",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tariff",
            "in": "query",
            "description": "Enables/disables the output of tariff data. The default is configurable via provisioning.\n\nSince version: 2.7",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "trafficMessages",
            "in": "query",
            "description": "Enables/disables the output of traffic messages. The default is configurable via provisioning.\n\nSince version: 2.7",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "travellerProfileData",
            "in": "query",
            "description": "Traveller profile data. Structure depends on set up. String not longer than 32768.\n\nSince version: 2.15",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withJourneyBoundaryPoints",
            "in": "query",
            "description": "Enables/disables the return of journey boundary stops at public transport legs.\n\nSince version: 2.24",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "freq",
            "in": "query",
            "description": "Sets the frequency interval length for the search of journey alternatives in minutes. Using a value of 0 results in the suppression of the search for alternatives. Minimum of 0.\n\nSince version: 2.35",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TripList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripList"
                }
              }
            }
          }
        },
        "security": [
          {
            "accessId": []
          }
        ]
      }
    },
    "/trip": {
      "get": {
        "tags": ["/trip"],
        "summary": "Trip Search",

        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "Request ID for identifying the request. String not longer than 2048.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["xml", "json", "jsonp"]
            }
          },
          {
            "name": "jsonpCallback",
            "in": "query",
            "description": "Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "The language of the journey planer. String not longer than 5.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "de"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "Specifies the station/stop ID of the origin for the trip.\nSuch ID can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originExtId",
            "in": "query",
            "description": "Deprecated. Please use `originId` as it supports external IDs.\n\nSpecifies the external station/stop ID of the origin for the trip.\nSuch ID can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCoordLat",
            "in": "query",
            "description": "Latitude of station/stop coordinate of the trip’s origin. The coordinate can be retrieved from the location.name or location.nearbystops services.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "originCoordLong",
            "in": "query",
            "description": "Longitude of station/stop coordinate of the trip’s origin. The coordinate can be retrieved from the location.name or location.nearbystops services.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "originCoordName",
            "in": "query",
            "description": "Name of the trip's origin if coordinate cannot be resolved to an address or poi. String not longer than 512.\n\nSince version: 2.13",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCoordType",
            "in": "query",
            "description": "Type of the trip's origin if coordinate cannot be resolved to an address or poi.\n\nSince version: 2.30",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["A", "ALL", "C", "P", "S"]
            }
          },
          {
            "name": "destId",
            "in": "query",
            "description": "Specifies the station/stop ID of the destination for the trip.\nSuch ID can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destExtId",
            "in": "query",
            "description": "Deprecated. Please use `destId` as it supports external IDs.\n\nSpecifies the external station/stop ID of the destination for the trip.\nSuch ID can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destCoordLat",
            "in": "query",
            "description": "Latitude of station/stop coordinate of the trip’s destination. The coordinate can be retrieved from the location.name or location.nearbystops services.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "destCoordLong",
            "in": "query",
            "description": "Longitude of station/stop coordinate of the trip’s destination. The coordinate can be retrieved from the location.name or location.nearbystops services.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "destCoordName",
            "in": "query",
            "description": "Name of the trip's destination if coordinate cannot be resolved to an address or poi. String not longer than 512.\n\nSince version: 2.13",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destCoordType",
            "in": "query",
            "description": "Type of the trip's destination if coordinate cannot be resolved to an address or poi.\n\nSince version: 2.30",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["A", "ALL", "C", "P", "S"]
            }
          },
          {
            "name": "via",
            "in": "query",
            "description": "Complex structure to provide multiple via points separated by semicolon. String not longer than 8096.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viaId",
            "in": "query",
            "description": "ID of a station/stop used as a via for the trip. Specifying a via station forces the trip search to look for trips which must pass through this station.\nSuch IDs can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viaWaitTime",
            "in": "query",
            "description": "Defines the waiting time spent at via station in minutes. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "description": "Complex structure to provide multiple points to be avoided separated by semicolon. String not longer than 8096.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avoidId",
            "in": "query",
            "description": "ID of a station/stop to be avoided as transfer stop for the trip.\nSuch IDs can be retrieved from the location.name or location.nearbystops services. String not longer than 512.\n\nSince version: 1.22.2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viaGis",
            "in": "query",
            "description": "Complex structure to provide multiple GIS via locations separated by semicolon. String not longer than 8096.\n\nSince version: 2.14",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeTimePercent",
            "in": "query",
            "description": "Configures the walking speed when changing from one leg of the journey to the next one. It extends the time required for changes by a specified percentage.\nA value of 200 doubles the change time as initially calculated by the system. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "100"
            }
          },
          {
            "name": "minChangeTime",
            "in": "query",
            "description": "Minimum change time at stop in minutes. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxChangeTime",
            "in": "query",
            "description": "Maximum change time at stop in minutes. Minimum of 0.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "addChangeTime",
            "in": "query",
            "description": "This amount of minutes is added to the change time at each stop. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxChange",
            "in": "query",
            "description": "Maximum number of changes. Range: 0-11\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Sets the start date for which the departures shall be retrieved. Represented in the format YYYY-MM-DD.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Sets the start time for which the departures shall be retrieved. Represented in the format hh:mm[:ss] in 24h nomenclature. Seconds will be ignored for requests.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchForArrival",
            "in": "query",
            "description": "If set, the date and time parameters specify the arrival time for the trip search instead of the departure time.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "numF",
            "in": "query",
            "description": "Minimum number of trips after or before the search time, depending on search direction. Sum of numF and numB has to be less or equal 6. The maximum value depends on the actual configuration.\n\nPlease see the section below about the search algorithm for more details. Range: 1-6\n\nSince version: 1.10",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "5"
            }
          },
          {
            "name": "numB",
            "in": "query",
            "description": "Minimum number of trips before or after the search time, depending on search direction. Sum of numF and numB has to be less or equal 6. The maximum value depends on the actual configuration.\n\nPlease see the section below about the search algorithm for more details. Range: 0-5\n\nSince version: 1.10",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Defines the starting point for the scroll back or forth operation. Use the scrB value from a previous result to scroll backwards in time and use the scrF value to scroll forth. String not longer than 8096.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poly",
            "in": "query",
            "description": "Enables/disables the calculation of the polyline for each leg of the trip except any GIS route.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "polyEnc",
            "in": "query",
            "description": "Defines encoding of the returned polyline. Possible values are N (no encoding / compression), DLT (delta to the previous coordinate), GPA (Google encoded polyline format) defaults to N. Not all option might be available in your installation.\n\nSince version: 1.11",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["DLT", "GPA", "N"],
              "default": "N"
            }
          },
          {
            "name": "passlist",
            "in": "query",
            "description": "Enables/disables the return of the passlist for each leg of the trip.\n\nSince version: 1.20",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operators",
            "in": "query",
            "description": "Only trips provided by the given operators are part of the result. To filter multiple operators, separate the codes by comma.\nIf the operator should not be part of the trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.12",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Only trips provided by the given categories are part of the result. To filter multiple categories, separate the codes by comma.\nIf the category should not be part of the trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 2.25",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryFlags",
            "in": "query",
            "description": "Only trips matching the given category flags are part of the result. To filter multiple category flags, separate the codes by comma. String not longer than 1024.\n\nSince version: 2.35",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Filter trips by one or more attribute codes of a journey. Multiple attribute codes are separated by comma. If the attribute should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.0",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sattributes",
            "in": "query",
            "description": "Filter trips by one or more station attribute codes of a journey. Multiple attribute codes are separated by comma. If the attribute should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.\n\nSince version: 1.23.7",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fattributes",
            "in": "query",
[...]
